.u-section-1 {background-image: linear-gradient(0deg, rgba(64,64,64,0.75), rgba(64,64,64,0.75)), url("images/0-14.jpg"); background-position: 50% 50%}
.u-section-1 .u-sheet-1 {min-height: 800px}
.u-section-1 .u-text-1 {font-size: 4.5rem; font-style: italic; background-image: none; text-transform: uppercase; font-weight: bold; animation-duration: 1000ms; margin: 60px 20px 0}
.u-section-1 .u-text-2 {font-size: 1.5rem; line-height: 1.2; font-style: italic; font-weight: normal; animation-duration: 1000ms; margin: 30px 689px 60px 20px} 

@media (max-width: 1199px){ .u-section-1 .u-text-1 {margin-left: 0; margin-right: 0}
.u-section-1 .u-text-2 {margin-right: 493px; margin-left: 0} }

@media (max-width: 991px){ .u-section-1 .u-text-2 {margin-right: 277px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 632px}
.u-section-1 .u-text-2 {margin-right: 100px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 526px}
.u-section-1 .u-text-1 {font-size: 3rem}
.u-section-1 .u-text-2 {margin-right: 0} }.u-section-2 {background-image: none}
.u-section-2 .u-sheet-1 {min-height: 618px}
.u-section-2 .u-group-1 {min-height: 107px; width: 800px; margin: 33px auto 0}
.u-section-2 .u-container-layout-1 {padding: 30px}
.u-section-2 .u-text-1 {font-weight: 700; margin: 0}
.u-section-2 .u-list-1 {width: 817px; min-height: 478px; grid-template-columns: 100%; grid-template-rows: auto; grid-gap: 10px 10px; margin: 0 auto}
.u-section-2 .u-container-layout-2 {padding: 30px 30px 30px 0}
.u-section-2 .u-image-1 {width: 134px; height: 134px; background-image: url("https://pixabay.com/get/55e8d4474a56a514f6da8c7dda793678153bdee757596c48732f78d09144c050b1_1280.png"); background-position: 50% 50%; margin: 0 auto 0 0}
.u-section-2 .u-group-2 {width: 618px; min-height: 229px; margin: -134px 0 0 auto}
.u-section-2 .u-container-layout-3 {padding: 0 0 0 30px}
.u-section-2 .u-text-2 {font-style: italic; margin: 0}
.u-section-2 .u-text-3 {font-style: italic; margin: 20px 0 0}
.u-section-2 .u-text-4 {margin: 20px 0 0} 

@media (max-width: 1199px){ .u-section-2 .u-list-1 {height: auto} }

@media (max-width: 991px){ .u-section-2 .u-group-1 {width: 720px}
.u-section-2 .u-list-1 {width: 720px}
.u-section-2 .u-group-2 {width: 536px} }

@media (max-width: 767px){ .u-section-2 .u-group-1 {width: 540px}
.u-section-2 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-list-1 {width: 540px}
.u-section-2 .u-container-layout-2 {padding-right: 10px}
.u-section-2 .u-group-2 {width: 376px; min-height: 250px}
.u-section-2 .u-container-layout-3 {padding-left: 10px} }

@media (max-width: 575px){ .u-section-2 .u-group-1 {width: 340px}
.u-section-2 .u-list-1 {margin-right: initial; margin-left: initial; width: auto}
.u-section-2 .u-group-2 {min-height: 275px; width: 330px; margin-top: -164px; margin-right: auto; margin-left: 5px} }.u-section-3 {background-image: linear-gradient(0deg, rgba(163,85,89,0.3), rgba(163,85,89,0.3)), url("images/77ff0556-b2c7-4976-80df-06ec56feda54.jpg"); background-position: 50% 50%}
.u-section-3 .u-sheet-1 {min-height: 870px}
.u-section-3 .u-group-1 {min-height: 692px; width: 800px; margin: 60px auto}
.u-section-3 .u-container-layout-1 {padding: 20px 60px}
.u-section-3 .u-text-1 {font-style: italic; margin: 0}
.u-section-3 .u-form-1 {width: 679px; margin: 61px auto 0}
.u-section-3 .u-form-group-1 {width: 100%}
.u-section-3 .u-form-group-2 {width: 100%}
.u-section-3 .u-form-group-3 {margin-left: 0}
.u-section-3 .u-form-group-4 {width: 100%}
.u-section-3 .u-form-group-5 {width: 100%} 

@media (max-width: 1199px){ .u-section-3 .u-sheet-1 {min-height: 718px} }

@media (max-width: 991px){ .u-section-3 .u-sheet-1 {min-height: 550px}
.u-section-3 .u-group-1 {width: 720px}
.u-section-3 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-3 .u-form-1 {width: 660px} }

@media (max-width: 767px){ .u-section-3 .u-sheet-1 {min-height: 413px}
.u-section-3 .u-group-1 {width: 540px}
.u-section-3 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-form-1 {width: 520px} }

@media (max-width: 575px){ .u-section-3 .u-sheet-1 {min-height: 260px}
.u-section-3 .u-group-1 {width: 340px}
.u-section-3 .u-form-1 {width: 320px}
.u-section-3 .u-form-group-3 {width: 100%} }.u-section-4 .u-sheet-1 {min-height: 68px}
.u-section-4 .u-social-icons-1 {height: 48px; min-height: 16px; width: 121px; min-width: 57px; white-space: nowrap; animation-duration: 1000ms; margin: 10px auto}
.u-section-4 .u-icon-1 {height: 100%}
.u-section-4 .u-icon-2 {height: 100%}