.u-section-1 {background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/57e8d7414c51ad14f6da8c7dda793678153bdee757596c48732f79d39f48c350ba_1280.jpg"); background-position: 50% 50%}
.u-section-1 .u-sheet-1 {min-height: 984px}
.u-section-1 .u-text-1 {animation-duration: 1000ms; font-style: italic; margin: 241px auto 0}
.u-section-1 .u-text-2 {font-weight: 400; letter-spacing: 1px; width: 564px; margin: 46px auto 0}
.u-section-1 .u-btn-1 {border-style: none; font-size: 0.875rem; background-image: none; margin: 400px auto 60px; padding: 8px 35px 9px} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 659px}
.u-section-1 .u-text-1 {font-weight: bold} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 505px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 379px}
.u-section-1 .u-text-2 {width: 540px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 293px}
.u-section-1 .u-text-2 {width: 340px} }.u-section-2 {min-height: 709px}
.u-section-2 .u-layout-wrap-1 {min-height: 709px; margin: 0 auto}
.u-section-2 .u-layout-cell-1 {min-height: 709px}
.u-section-2 .u-image-1 {background-image: linear-gradient(0deg, rgba(230,131,135,0.5), rgba(230,131,135,0.5)), url("images/pexelsphoto306534.jpeg")}
.u-section-2 .u-container-layout-1 {padding: 30px}
.u-section-2 .u-icon-1 {height: 64px; width: 64px; margin: 212px auto 0}
.u-section-2 .u-text-1 {text-transform: uppercase; font-weight: 500; font-size: 1.5rem; letter-spacing: 2px; margin: 40px 0 0}
.u-section-2 .u-btn-1 {border-style: none; font-weight: 700; font-size: 0.9375rem; background-image: none; align-self: center; margin: 12px auto 0; padding: 8px 33px}
.u-section-2 .u-btn-2 {border-style: none; font-weight: 700; font-size: 0.9375rem; background-image: none; margin: 16px auto 0; padding: 8px 33px}
.u-section-2 .u-layout-cell-2 {min-height: 709px}
.u-section-2 .u-image-2 {background-image: linear-gradient(0deg, rgba(119,170,217,0.5), rgba(119,170,217,0.5)), url("images/pexelsphoto1595385.jpeg")}
.u-section-2 .u-container-layout-2 {padding: 30px}
.u-section-2 .u-icon-2 {height: 64px; width: 64px; margin: 212px auto 0}
.u-section-2 .u-text-2 {text-transform: uppercase; font-weight: 500; font-size: 1.5rem; letter-spacing: 2px; margin: 40px 0 0}
.u-section-2 .u-btn-3 {border-style: none; font-weight: 700; font-size: 0.9375rem; background-image: none; margin: 12px auto 0; padding: 8px 33px}
.u-section-2 .u-layout-cell-3 {min-height: 709px}
.u-section-2 .u-image-3 {background-image: linear-gradient(0deg, rgba(148,193,142,0.5), rgba(148,193,142,0.5)), url("images/pexelsphoto1595385.jpeg")}
.u-section-2 .u-container-layout-3 {padding: 30px}
.u-section-2 .u-icon-3 {height: 64px; width: 64px; margin: 212px auto 0}
.u-section-2 .u-text-3 {text-transform: uppercase; font-weight: 500; font-size: 1.5rem; letter-spacing: 2px; margin: 40px 0 0}
.u-section-2 .u-btn-4 {border-style: none; font-weight: 700; font-size: 0.9375rem; background-image: none; align-self: center; margin: 15px auto 0; padding: 8px 33px}
.u-section-2 .u-btn-5 {border-style: none; font-weight: 700; font-size: 0.9375rem; background-image: none; margin: 13px auto 0; padding: 8px 33px} 

@media (max-width: 1199px){ .u-section-2 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-2 .u-layout-cell-1 {min-height: 675px} }

@media (max-width: 767px){ .u-section-2 {min-height: 3114px}
.u-section-2 .u-layout-wrap-1 {min-height: 3325px; margin-right: initial; margin-left: initial}
.u-section-2 .u-layout-cell-1 {min-height: 1519px}
.u-section-2 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-layout-cell-2 {min-height: 1595px}
.u-section-2 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-layout-cell-3 {min-height: 1595px}
.u-section-2 .u-container-layout-3 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-2 {min-height: 1960px}
.u-section-2 .u-layout-wrap-1 {min-height: 1580px; margin-right: initial; margin-left: initial}
.u-section-2 .u-layout-cell-1 {min-height: 956px}
.u-section-2 .u-layout-cell-2 {min-height: 1004px}
.u-section-2 .u-layout-cell-3 {min-height: 1004px} }.u-section-3 {background-image: none}
.u-section-3 .u-sheet-1 {min-height: 110px}
.u-section-3 .u-layout-wrap-1 {margin: 1px auto 0 0}
.u-section-3 .u-layout-cell-1 {min-height: 108px}
.u-section-3 .u-container-layout-1 {padding: 30px 60px}
.u-section-3 .u-layout-cell-2 {min-height: 108px}
.u-section-3 .u-container-layout-2 {padding: 30px 60px}
.u-section-3 .u-social-icons-1 {height: 48px; min-height: 16px; width: 112px; min-width: 48px; white-space: nowrap; animation-duration: 1000ms; margin: -78px auto 31px}
.u-section-3 .u-icon-1 {height: 100%}
.u-section-3 .u-icon-2 {height: 100%} 

@media (max-width: 1199px){ .u-section-3 .u-layout-wrap-1 {margin-right: initial; margin-left: initial} }

@media (max-width: 991px){ .u-section-3 .u-sheet-1 {min-height: 85px}
.u-section-3 .u-layout-cell-1 {min-height: 83px}
.u-section-3 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-3 .u-layout-cell-2 {min-height: 83px}
.u-section-3 .u-container-layout-2 {padding-left: 30px; padding-right: 30px} }

@media (max-width: 767px){ .u-section-3 .u-sheet-1 {min-height: 252px}
.u-section-3 .u-layout-cell-1 {min-height: 125px}
.u-section-3 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-layout-cell-2 {min-height: 125px}
.u-section-3 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-3 .u-sheet-1 {min-height: 160px}
.u-section-3 .u-layout-cell-1 {min-height: 79px}
.u-section-3 .u-layout-cell-2 {min-height: 79px} }