.u-section-1 {background-image: linear-gradient(0deg, rgba(89,133,83,0.5), rgba(89,133,83,0.5)), url("https://pixabay.com/get/50e9d5404d56b108f5d084609629317e113fdce15b4c704f752d73d3924ac75e_1280.jpg"); background-position: 50% 50%}
.u-section-1 .u-sheet-1 {min-height: 700px}
.u-section-1 .u-group-1 {width: 800px; min-height: 468px; margin: 60px auto}
.u-section-1 .u-container-layout-1 {padding: 30px}
.u-section-1 .u-icon-1 {height: 76px; width: 76px; background-image: none; margin: 0 auto}
.u-section-1 .u-text-1 {font-weight: 700; font-style: normal; margin: 39px 0 0}
.u-section-1 .u-btn-1 {font-size: 1.25rem; border-style: none; background-image: none; text-transform: uppercase; letter-spacing: 1px; margin: 30px auto 0} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 577px}
.u-section-1 .u-group-1 {animation-duration: 1000ms} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 442px}
.u-section-1 .u-group-1 {width: 720px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 332px}
.u-section-1 .u-group-1 {width: 540px; min-height: 493px}
.u-section-1 .u-container-layout-1 {padding-left: 20px; padding-right: 20px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 209px}
.u-section-1 .u-group-1 {width: 340px; min-height: 488px} }.u-section-2 {background-image: none}
.u-section-2 .u-sheet-1 {min-height: 693px}
.u-section-2 .u-product-1 {min-height: 574px; margin: 30px auto 60px 0}
.u-section-2 .u-container-layout-1 {padding: 30px}
.u-section-2 .u-image-1 {width: 532px; height: 514px; margin: 0 auto 0 0}
.u-section-2 .u-group-1 {width: 578px; min-height: 370px; background-image: none; height: auto; margin: -442px 0 0 auto}
.u-section-2 .u-container-layout-2 {padding: 30px 55px 30px 50px}
.u-section-2 .u-text-1 {font-weight: 400; font-size: 1.875rem; margin: 0}
.u-section-2 .u-product-price-1 {margin: 22px auto 0}
.u-section-2 .u-text-2 {margin: 18px 0 0}
.u-section-2 .u-btn-1 {border-style: none; letter-spacing: 1px; font-weight: 700; text-transform: uppercase; background-image: none; margin: 22px auto 0; padding: 10px 38px 10px 37px} 

@media (max-width: 1199px){ .u-section-2 .u-sheet-1 {min-height: 634px}
.u-section-2 .u-product-1 {margin-top: 0; margin-right: initial; margin-left: initial}
.u-section-2 .u-image-1 {width: 475px}
.u-section-2 .u-group-1 {width: 466px; animation-duration: 1000ms}
.u-section-2 .u-container-layout-2 {padding-left: 35px; padding-right: 35px} }

@media (max-width: 991px){ .u-section-2 .u-sheet-1 {min-height: 1006px}
.u-section-2 .u-product-1 {min-height: 886px; height: auto; margin-top: 1066px; margin-right: initial; margin-left: initial}
.u-section-2 .u-image-1 {width: 566px; height: 513px; margin-left: auto}
.u-section-2 .u-group-1 {margin-top: -65px; margin-right: auto}
.u-section-2 .u-container-layout-2 {padding-right: 30px; padding-left: 30px} }

@media (max-width: 767px){ .u-section-2 .u-sheet-1 {min-height: 984px}
.u-section-2 .u-product-1 {min-height: 864px; margin-top: 1044px; margin-right: initial; margin-left: initial}
.u-section-2 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-image-1 {width: 520px; height: 471px}
.u-section-2 .u-group-1 {margin-top: -47px}
.u-section-2 .u-container-layout-2 {padding-right: 10px; padding-left: 10px}
.u-section-2 .u-text-1 {font-size: 1.5rem} }

@media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 814px}
.u-section-2 .u-product-1 {min-height: 694px; margin-top: 874px; margin-right: initial; margin-left: initial}
.u-section-2 .u-image-1 {width: 320px; height: 290px}
.u-section-2 .u-group-1 {width: 271px; min-height: 366px; margin-top: -34px}
.u-section-2 .u-container-layout-2 {padding-right: 25px; padding-left: 20px} }.u-section-3 {background-image: none}
.u-section-3 .u-sheet-1 {min-height: 693px}
.u-section-3 .u-product-1 {min-height: 574px; margin: 52px auto 52px 0}
.u-section-3 .u-container-layout-1 {padding: 30px}
.u-section-3 .u-image-1 {width: 532px; height: 514px; margin: 0 auto 0 0}
.u-section-3 .u-group-1 {width: 578px; min-height: 370px; background-image: none; height: auto; margin: -442px 0 0 auto}
.u-section-3 .u-container-layout-2 {padding: 30px 55px 30px 50px}
.u-section-3 .u-text-1 {font-weight: 400; margin: 0}
.u-section-3 .u-product-price-1 {margin: 22px auto 0}
.u-section-3 .u-text-2 {margin: 18px 0 0}
.u-section-3 .u-btn-1 {border-style: none; letter-spacing: 1px; font-weight: 700; text-transform: uppercase; margin: 22px auto 0; padding: 10px 38px 10px 37px} 

@media (max-width: 1199px){ .u-section-3 .u-sheet-1 {min-height: 649px}
.u-section-3 .u-product-1 {margin-top: 60px; margin-bottom: 15px; margin-right: initial; margin-left: initial}
.u-section-3 .u-image-1 {width: 475px}
.u-section-3 .u-group-1 {width: 466px; animation-duration: 1000ms; margin-bottom: 72px}
.u-section-3 .u-container-layout-2 {padding-left: 35px; padding-right: 35px}
.u-section-3 .u-btn-1 {border-style: solid} }

@media (max-width: 991px){ .u-section-3 .u-sheet-1 {min-height: 1006px}
.u-section-3 .u-product-1 {min-height: 886px; height: auto; margin-bottom: 60px; margin-right: initial; margin-left: initial}
.u-section-3 .u-image-1 {width: 566px; height: 513px; margin-left: auto}
.u-section-3 .u-group-1 {margin-top: -65px; margin-right: auto; margin-bottom: 0}
.u-section-3 .u-container-layout-2 {padding-right: 30px; padding-left: 30px}
.u-section-3 .u-btn-1 {letter-spacing: 1px; font-weight: bold; text-transform: uppercase} }

@media (max-width: 767px){ .u-section-3 .u-sheet-1 {min-height: 984px}
.u-section-3 .u-product-1 {min-height: 864px; margin-right: initial; margin-left: initial}
.u-section-3 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-image-1 {width: 520px; height: 471px}
.u-section-3 .u-group-1 {margin-top: -47px}
.u-section-3 .u-container-layout-2 {padding-right: 10px; padding-left: 10px} }

@media (max-width: 575px){ .u-section-3 .u-sheet-1 {min-height: 814px}
.u-section-3 .u-product-1 {min-height: 694px; margin-right: initial; margin-left: initial}
.u-section-3 .u-image-1 {width: 320px; height: 290px}
.u-section-3 .u-group-1 {width: 271px; min-height: 366px; margin-top: -34px}
.u-section-3 .u-container-layout-2 {padding-right: 25px; padding-left: 20px} }.u-section-4 {background-image: none}
.u-section-4 .u-sheet-1 {min-height: 693px}
.u-section-4 .u-product-1 {min-height: 574px; margin: 52px auto 52px 0}
.u-section-4 .u-container-layout-1 {padding: 30px}
.u-section-4 .u-image-1 {width: 514px; height: 514px; margin: 0 auto 0 0}
.u-section-4 .u-group-1 {width: 578px; min-height: 370px; background-image: none; height: auto; margin: -442px 0 0 auto}
.u-section-4 .u-container-layout-2 {padding: 30px 55px 30px 50px}
.u-section-4 .u-text-1 {font-weight: 400; margin: 0}
.u-section-4 .u-product-price-1 {margin: 22px auto 0}
.u-section-4 .u-text-2 {margin: 18px 0 0}
.u-section-4 .u-btn-1 {border-style: none; letter-spacing: 1px; font-weight: 700; text-transform: uppercase; background-image: none; margin: 22px auto 0; padding: 10px 38px 10px 37px} 

@media (max-width: 1199px){ .u-section-4 .u-product-1 {margin-right: initial; margin-left: initial}
.u-section-4 .u-image-1 {width: 475px}
.u-section-4 .u-group-1 {width: 466px; animation-duration: 1000ms; margin-bottom: 72px}
.u-section-4 .u-container-layout-2 {padding-left: 35px; padding-right: 35px} }

@media (max-width: 991px){ .u-section-4 .u-sheet-1 {min-height: 1006px}
.u-section-4 .u-product-1 {min-height: 886px; height: auto; margin-top: 60px; margin-bottom: 60px; margin-right: initial; margin-left: initial}
.u-section-4 .u-image-1 {width: 566px; height: 513px; margin-left: auto}
.u-section-4 .u-group-1 {margin-top: -65px; margin-right: auto; margin-bottom: 0}
.u-section-4 .u-container-layout-2 {padding-right: 30px; padding-left: 30px} }

@media (max-width: 767px){ .u-section-4 .u-sheet-1 {min-height: 984px}
.u-section-4 .u-product-1 {min-height: 864px; margin-right: initial; margin-left: initial}
.u-section-4 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-image-1 {width: 514px; height: 471px}
.u-section-4 .u-group-1 {margin-top: -47px}
.u-section-4 .u-container-layout-2 {padding-right: 10px; padding-left: 10px} }

@media (max-width: 575px){ .u-section-4 .u-sheet-1 {min-height: 814px}
.u-section-4 .u-product-1 {min-height: 694px; margin-right: initial; margin-left: initial}
.u-section-4 .u-image-1 {width: 320px; height: 290px}
.u-section-4 .u-group-1 {width: 271px; min-height: 366px; margin-top: -34px}
.u-section-4 .u-container-layout-2 {padding-right: 25px; padding-left: 20px} }.u-section-5 .u-sheet-1 {min-height: 67px}
.u-section-5 .u-social-icons-1 {height: 48px; min-height: 16px; width: 121px; min-width: 57px; white-space: nowrap; animation-duration: 1000ms; margin: 10px auto}
.u-section-5 .u-icon-1 {height: 48px}
.u-section-5 .u-icon-2 {height: 48px}